.header_container {
  /* border: 3px solid red; */
  background-color: white;
  border-radius: 15px;
  margin: 20px 21px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.li_links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.button {
  padding: 12px;
  border: 2px solid #aa91f5;
  border-radius: 12px;
  width: max-content;
  text-align: center;
  /* color: #aa91f5; */
  font-weight: 500;
  list-style: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  font-size: large;
}

.links_logo {
  margin-right: 4px;
  display: flex;
  align-items: center;
}
